*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

a{
  display: inline-block; 
}

.button{
  background-color: white;
  text-decoration: none;
  border-radius: 40px;
  padding:10px;
  color: black;
  font-size: 15px;
}

/* Debug  */
.debug .bk_section_4{
  background-color: violet;
}
.debug .top{
  height: 200px;
  background-color: grey;
}

.debug .middle{
  height: 600px;
  background-color:red;
}

.debug .bottom{
  height: 200px;
  background-color: grey;
}



 
/*Header*/
.bk_top{
  background-image: url("./img/jumbo.png");
  background-size: cover;
  background-position: center;
}

#site_header{
  padding: 20px;  
}

.container{
  width: 1070px;
  margin: auto;
}

nav .link{
  width: 60%;
  line-height: 34px;
  float: left;
  padding: 0 82px;
}

nav .link a{
  padding: 0 17px;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  font-size: 13px;
}

nav .logo , nav .login{
  width: 20%;
  float: left;
}

.login .button{
  margin-left: calc(100% - 65px);
}


/*section to_talk*/
.central{
  width: 700px;
  margin: auto;
  padding: 60px 0;
  text-align: center;
  color: white;
}
.central h1{
  word-spacing: 2px;
  padding: 20px 20px 30px;
  color: white;
  font-size: 40px;
}

.central p{
  line-height: 25px; 
  padding: 0 50px 20px; 
}

.download_browser .button{
  margin: 0 15px 30px;
  font-weight: bold;
  padding: 15px 20px;
}


.download_browser .button:last-child{
  background: black;
  color: white;
}

/* section 1-2-3*/
.same .container,
.section_4{
  padding: 70px 0;
}

.same .col_left,
.section_2 .col_right{
  width: 66.66%;
  float: left;
}

.same .col_right,
.section_2 .col_left{
  width: 33.33%;
  float: left;
}

.same .col_right h2,
.section_2 .col_left h2,
.section_4 .top h2{
  padding: 32px 32px 0;
  font-size: 40px;
}

.same .col_right p,
.section_2 .col_left p,
.section_4 .top p{
  padding: 16px 32px 32px;
  line-height: 23px;
}


.bk_section_2{
  background-color: lightgray;
}
.onda_reverse{
  transform: rotate(180deg);
}

/*section_4*/
.middle img{
  padding-left: calc(1070px - 970px)
}
.section_4 .top,
.section_4 .bottom {
  text-align: center;
}
.bk_section_4 .star{
  width: 35%;
  height: 50px;
  line-height: 50px;
  margin: auto;
  background-image: url("./img/stars.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 60px;
}

.bk_section_4 .star h3{
  vertical-align: bottom;
  
}

.bottom .button:last-child{
  background-color: #5865f2;;
  color: white;
}
